body {
    margin: 0;
    padding: 0;
    font-family: Futura;
}
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -20px;
    width: 100%;
}
#header-text {
    font-family: 'Tangerine', cursive;
    font-size: 50px;
    font-weight: 700;
}
#down-row {
    margin-right: auto;
    margin-left: auto;
    width: 40px;
    padding-top: 10px;
}
#down-img {
    width: 100%;
    height: auto;
    background-color: #EEEEEE;
}
#about {
    background-color: #EEEEEE;
    padding-bottom: 50px;
}
#about-row {
    padding-top: 60px;
    background-color: #EEEEEE;
}
.author-box {
    margin: 5px 0;
    height: 30px;
    width: 100%;
}
.check-box {
    height: 20px;
    width: 20px;
    background-color: white;
    border-color: #DDDDDD;
    border-style: solid;
    cursor: pointer
}
.check-box:hover {
    background-color: #44CCFF;
}
.scroll-box {
    height: 540px;
    overflow: scroll;
}
.text-btn {
    color: #999999;
    font-size: 20px;
    cursor: pointer;
}
.text-btn:hover {
    color: #222222;
}
.social-btn {
    height: 50px;
    width: auto;
    padding-left: 10px;
    padding-bottom: 10px;
}
.social-btn:hover {}